@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .underline-effect::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 2px;
      width: 0;
      background-color: white;
      transition: width 0.3s ease, left 0.3s ease;
    }
  
    .underline-effect:hover::after {
      width: 100%;
      left: 0;
    }
}
  